
<div id="room">

    <div id="content">

        <div id="main-video">

            <!--big videos-->

        </div>

        <div id="logo">
            <img src="img/kurento.png" />
        </div>

        <div id="room-name">{{roomName}}</div>
        <div class="mb" align="right" style="margin: 1em; padding-bottom: 5px" id="buttonActions"> 
            <!--eliminado class action de los botones para cambiar el css-->
            <!--aumentado el tamaño de los iconos con css (room.css)-->
            <button class="btn btn--xl btn--teal btn--fab mdi md-volume-up" lx-ripple ng-click="onOffVolume()" id="buttonVolume" title="Audio toggle"></button> <!--mute audio-->
            <button class="btn btn--xl btn--grey btn--fab mdi md-videocam" lx-ripple ng-click="onOffVideocam()" id="buttonVideocam" title="Video toggle"></button> <!--mute video-->
            <button class="btn btn--xl btn--blue-grey btn--fab mdi md-not-interested" lx-ripple ng-click="disconnectStream()" id="buttonDisconnect" title="Disconnect media stream"></button> <!--unpublish or unsubscribe media-->
            <button class="btn btn--xl btn--deep-purple btn--fab mdi md-mood" lx-ripple ng-click="showHat()" id="hatButton" title="Hat toggle"></button> <!--hat-->
            <button class="btn btn--xl btn--orange btn--fab mdi md-desktop-mac " lx-ripple ng-click="" title="Desktop sharing"></button> <!--compartir escritorio-->
            <button class="btn btn--xl btn--red btn--fab mdi md-call-end " lx-ripple ng-click="leaveRoom()" id="buttonLeaveRoom" title="Leave room"></button> <!--colgar-->
            <button class="btn btn--xl btn--green btn--fab mdi md-fullscreen" lx-ripple ng-click="goFullscreen()" title="Fullscreen"></button> <!--fullscreen-->
            <button class="btn btn--xl btn--blue btn--fab mdi md-chat" lx-ripple ng-click="toggleChat()" title="Chat toggle"></button> <!--chat-->
        </div>


        <div class="mt" align="left" style="margin: 2em; padding-bottom: 5px;padding-top: 50px" id="ptzActions">
        <div class="mt">
            <div class="fab">
                <button class="btn btn--light-blue btn--m btn--fab mdi mdi-arrow-left" lx-ripple lx-tooltip="Links" tooltip-position="right" ng-mousedown="VISCA_Camera.MOVE_LEFT(1)" ng-mouseup="VISCA_Camera.MOVE_STOP(1)"/>
            </div>
        </div>
        <div class="mt">
            <div class="fab">
                <button class="btn btn--light-green btn--m btn--fab mdi mdi-arrow-up" lx-ripple lx-tooltip="Omhoog" tooltip-position="right"/>
            </div>
        </div>

        <div class="mt">
            <button class="btn btn--green btn--m btn--fab mdi mdi-magnify-plus" lx-ripple lx-tooltip="Inzoomen" tooltip-position="right"/>
        </div>

        <div class="mt">
            <button class="btn btn--green btn--m btn--fab mdi mdi-magnify-minus" lx-ripple lx-tooltip="Uitzoomen" tooltip-position="right"/>
        </div>

        <div class="mt">
            <div class="fab">
                <button class="btn btn--light-green btn--m btn--fab mdi mdi-arrow-down" lx-ripple lx-tooltip="Omlaag" tooltip-position="right"/>
            </div>
        </div>

        <div class="mt">
            <div class="fab">
                <button class="btn btn--light-blue btn--m btn--fab mdi mdi-arrow-right" lx-ripple lx-tooltip="Rechts" tooltip-position="right"/>
            </div>
        </div>

        <div class="mt">
            <div class="fab">
                <button class="btn btn--blue-grey btn--m btn--fab mdi mdi-cursor-pointer" lx-ripple lx-tooltip="Stel een vraag" tooltip-position="right"/>
            </div>
        </div>
    </div>


        <div id="participants">

            <!--small videos-->

        </div>
    </div>


    <!--CHAT--> 

    <div class="toggler" style="width: 20%;height: 100%;float: right" >
        <div id="effect" style="display:none">
            <!--head-->
            <div>
                <strong>Chat</strong>
                <button class="btn btn--s btn--blue btn--icon mdi md-close" lx-ripple ng-click="toggleChat()" id="button"></button> <!--close-->
            </div>

            <div style="height: 30em;  overflow: scroll;">
                <ul class="list" >

                    <!--chat messages with scroll-->

                </ul>
            </div>

            <!--message and button to send-->
            <div>
                <form>
                    <lx-text-field label="Message">
                        <input id="inputMessage" type="text" ng-model="message">
                    </lx-text-field>
                    <button type="submit" class="btn btn--m btn--green btn--raised" lx-ripple ng-click="sendMessage()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
